* {
	margin: 0;
	padding: 0;

}

.hero {
	background-image: url(Image/bg%20image.jpg);
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 1200PX;
	height: 500px;
	margin: 0 auto;
}

.header {
	overflow: hidden;
}

.logo {
	width: 50%;
	float: left;
	margin-top: 20px;
}

.logo img {
	width: 150px;
}

.menu {
	float: right;
	margin-top: 60px;
}

.menu ul li {
	float: left;
	padding: 20px;
	list-style: none;

}

.menu ul li a {
	text-decoration: none;
	color: #fff;

}

.header-text {
	text-align: center;
	margin-top: 8%;
	color: white;
}

.header-text h2 {
	font-size: 120px;
	color: #D0CE09;
}

.header-text h3 {
	font-size: 50px;
	color: #D0CE09;
}

.header-text p {
	margin-top: 40px;
	font-size: 50px;
}

.header-text p span {
	color: #FC8A7D;
}

.header-text button {
	padding: 20px;
	font-size: 30px;
	font-weight: bold;
	border: 5px solid red;
	margin-left: 40%;
	margin-top: 30px;
	color: #F5B300;
	background-color: #05011B;
}

.services {
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
}

.services-header h2 {
	font-size: 70px;
	color: #010000;
	font-family: "Engravers";
	margin-bottom: 10px;

}

.services-header h2 span {
	color: red;

}

.services-header p {
	width: 50%;
	font-size: 15px;
	margin: 0 auto;
}

.box {
	width: 220px;
	float: left;
	margin-top: 50px;
	margin-left: 30px;
	background: #303343;
	padding: 20px;
	border-radius: 15px;
}

.box img {
	width: 105px;

}

.box h2 {
	font-size: 30px;
	padding: 15px 0px;
	color: #fff;
	font-family: "Engravers";
}

.box p {
	font-size: 15px;
	color: #fff;
	line-height: 1.5;
	font-family: "Engravers";
	text-transform: uppercase;
}

.recent {
	margin-top: 50px;
	overflow: hidden;
}

.recent-top {
	font-size: 40px;
	font-family: "Engravers";
	text-align: center;

}

.recent-top h2 span {
	color: red;
}
.project-wrapper{
	width: 800px;
	margin: auto;
	
}
.project1{
	width: 100%;
	margin-top: 50px;
	overflow: hidden;
}

.project1-summ {
	width: 50%;
	height: 400px;
	float: left;
	background: #2A293F;
	
}
.project-img{
	width: 50%;
	height: 400px;
	float:right;
	background-image: url(Image/image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.project1-summ h2{
    font-size: 30px;
    margin: 12px 0px;
    margin-top: 85px;
    margin-left: 25px;
	padding: 0px 10px;
    color: #fff;
    font-family:"Engravers";
}
.project1-summ h3{
    font-size: 20px;
    margin: 10px 0px;
    margin-left: 25px;
	padding: 0px 10px;
    color: #fff;
    font-family:"Engravers";
	text-transform: uppercase;
}
.project1-summ p{
	font-size: 14px;
    margin: 10px 0px;
    margin-left: 25px;
    color: #fff;
    font-family:"Engravers";
	text-transform: uppercase;
	line-height: 1.5;
	padding: 0px 10px;
}
.project2-summ {
	width: 50%;
	height: 400px;
	float: right;
	background: #2A293F;
	
}
.project2-img{
	width: 50%;
	height: 400px;
	float:left;
	background-image: url(Image/image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.project2-summ h2{
    font-size: 30px;
    margin: 12px 0px;
    margin-top: 85px;
    margin-left: 25px;
	padding: 0px 10px;
    color: #fff;
    font-family:"Engravers";
}
.project2-summ h3{
    font-size: 20px;
    margin: 10px 0px;
    margin-left: 25px;
	padding: 0px 10px;
    color: #fff;
    font-family:"Engravers";
	text-transform: uppercase;
}
.project2-summ p{
	font-size: 14px;
    margin: 10px 0px;
    margin-left: 25px;
    color: #fff;
    font-family:"Engravers";
	text-transform: uppercase;
	line-height: 1.5;
	padding: 0px 10px;
}
.about-us{
	margin-top: 10%;
	overflow: hidden;
}
.about-wrapper{
	width: 800px;
	margin: auto;
	
}
.about-img{
	width: 50%;
	float: left;
	
}
.about-img img{
	width: 250px;
	border: 7px solid red;
}
.about-sum{
	width: 50%;
	float: right;
}
.about-sum h2{
	font-size: 40px;
	padding: 0px 25px;
}
.about-sum h2 span {
    color: red;
	
   
}
.about-sum h3{
	font-size: 18px;
	padding: 10px 25px;
}
.about-sum p{
	padding: 0px 25px;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1;
	
}
.resume button{
	padding: 15px 35px;
	border: 5px solid red;
	margin-top: 30px;
	margin-left: 7%;
	background-color: #FFFFFF;
	font-weight: bold;
}
.contact-wrapper{
	width: 800px;
	margin: auto;
}
	.contact-info h2{
	font-size: 80px;
	text-align: center;
}
.contact-info h2 span {
	color: red;
}
.contact-me{
	margin-top:50px;
}

.details{
	width: 200px;
	height:100px;
	border: 3px solid black;
	border-radius: 7px;
	overflow: hidden;
	padding: 25px;
	text-align: center;
	float: left;
	margin-right: 10px;
}
.icon{
	width: 40%;
	float: left;
}
.icon img{
	margin-top: 10px;
}
.phone{
	float: right;
	width: 40%;
	margin-top: 10px;
	margin-right: 25px;
	
}
.phone h2{
	padding: 10px 0px;
}
.fotter{
	width: 100%;
	height: 300px;
	background: #303343;
	overflow: hidden;
	margin-top: -30px;
}
.fotter-text h2{
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #fff;
}
.fotter-text h2 span{
	color: red;
}
.fotter-text p{
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
		
}
.social{
	text-align: center;

}
.social img{
	width: 70px;
}
.social h3{
	font-size: 25px;
	color: #fff;
	padding: 5px 0px;
}


